body{
    background: -webkit-linear-gradient(90deg, #8c8c8c,#121212);background: linear-gradient(90deg, #8c8c8c,#121212);
}
li{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}
.h1{
    display:flex;
    align-content: center;
    background-color: #171717;
    margin-top: auto;
}
table{
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 5px 2px 3px white;
}
  header{
    text-align: center;
  }

  footer{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }